@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.header-cover {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
}

.home--header nav a {
  color: gray;
  transition: 0.3s;
}

.home--header nav a:hover {
  color: rgb(175, 175, 175);
}

button {
  text-transform: capitalize !important;
  font-family: "Poppins", sans-serif !important;
}


.big-card {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 18px 40px 0px;
}

svg {
  border: none !important;
  outline: none !important;
}

.Mui-selected {
  background-color: #FFDAC1 !important;
  color: orangered !important;
  font-weight: 500;
}

.Mui-selected:hover {
  background-color: #EEB691 !important;

}


.MuiPagination-ul {
  text-align: center;
}

.h-90{
  height:350px
}