@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}

.header-cover {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
}

.home--header nav a {
  color: gray;
  transition: 0.3s;
}

.home--header nav a:hover {
  color: rgb(175, 175, 175);
}

button {
  text-transform: capitalize !important;
  font-family: "Poppins", sans-serif !important;
}
